<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <title>画像処理サイト</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- new.css -->
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <!--    <script defer src="{{ url_for('static', filename='addressbook.js') }}"></script>-->
</head>
<body>
<header>
    <h1>画像処理(アップロード)</h1>
</header>
<main>
    <section>
<!--        サーチ用フォーム-->
        <form id="search" action="/address" method="GET">
            <div>
                <input type="text" id="search-firstname" placeholder="First name" name="fn">
                <button id="search-submit">Search</button>
            </div>
        </form>
    </section>
    <!--    リストを作成-->
    <ul>
        <li>ぐれー</li>
        <li>Canny</li>
        <li>みたいな</li>
    </ul>
    test

</main>
</body>
</html>