<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <title>画像処理サイト</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- new.css -->
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
    <!--    <script defer src="{{ url_for('static', filename='addressbook.js') }}"></script>-->
</head>

<body>
    <header>
        <h1>画像処理(アップロード)</h1>
    </header>

    <!--    見るページの選択-->
    <ul class="sidenav">
        <li><a class="active">Home</a></li>
        <li><a>News</a></li>
        <li><a>Contact</a></li>
        <li><a>About</a></li>
    </ul>
    test

    <main>
        <section>
            <div>
                <input id="file" type="file">
                <button id="upload">アップロード</button>
            </div>
        </section>

    </main>
</body>

<script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

</html>